<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.5.xsd">

    <mongo:mongo host="ds053448.mongolab.com" port="53448" id="mongo" />

    <mongo:db-factory dbname="heroku_app33545818" mongo-ref="mongo" id="mongoDbFactory" username="heroku_app33545818" password="72a18nfa10vriekq3ran21to4p"/>

    <!-- <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
    </bean>
     -->
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongo" ref="mongo"/>
        <constructor-arg name="databaseName" value="library"></constructor-arg>
    </bean>


    <bean id="bookDao" class="com.n11.hw.dao.BookDaoImpl">
        <constructor-arg name="mongoOperations" ref="mongoTemplate"/>
    </bean>

    <bean id="bookService" class="com.n11.hw.service.BookServiceImpl">
        <property name="bookDao" ref="bookDao"/>

    </bean>

    <bean id="bookController" class="com.n11.hw.controller.BookController">
        <property name="bookService" ref="bookService"/>
    </bean>


</beans>
